﻿body {
    background-image: url('../img/poker-table-background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 1000px;
    width: 100%;
}
#Mycontainer {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    text-align: center;
    overflow: scroll;
}

#MycontainerMain {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
    text-align: center;
    
}
#form1{
    display:inline-block;
    height:250px;
    width:300px;
    
    top:300px;
    background-color:white;
}


/*.buttons .button {
    font: bold 20px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}*/
.Myimages {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
    

.Myimages img {
        padding: 50px;


    }
#player{
    margin-top:70px;
}

h3 {
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px #770000;
    margin:10px;
}

div#infos {
    margin: 0 auto;
    width: 500px;
    background: rgba(105,105,105,0.5);
    border-radius: 1em;
    margin-top:10px;
}
#infos span {
    font: bold 20px Arial;    
    color: #333333;
    padding: 2px 6px 2px 6px;
}
